[submodule ".github/workflows/themes/herring-cove"]
	path = .github/workflows/themes/herring-cove
	url = git@github.com:spf13/herring-cove.git
[submodule ".github/workflows/themes/hyde"]
	path = .github/workflows/themes/hyde
	url = git@github.com:spf13/hyde.git
